# EdfaPay SoftPOS
# Prefer EXPO_PUBLIC_EDFAPAY_ENV, EN is supported as alias.
EXPO_PUBLIC_EDFAPAY_AUTH_CODE=
EXPO_PUBLIC_EDFAPAY_PARTNER_CONFIG=
EXPO_PUBLIC_EDFAPAY_ENV=SANDBOX
# Optional alias
# EXPO_PUBLIC_EDFAPAY_EN=SANDBOX
